<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Navbar</title>
  </head>
  <body>
    <nav class="mb-5 navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-brand">Rishi Biswas' Online Portfolio</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse in navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="d-inline-block" href="">Home</a>
        </div>
      </div>
    </nav>
  </body>
</html>