<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand">Rishi Biswas' Portfolio</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse in navbar-collapse"
           id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="d-inline-block" href="">Home</a>
        </div>
      </div>
    </nav>
  </body>
</html>
